    {{#each post.comments as |comment|}}
    <div class="row mb-4">
    <div class="col-md-5 ml-3 p-2 border">
        <p>{{comment.content}}</a>
        <p style='font-size: 75%'>Posted by: {{comment.user.username}} on {{format_date comment.updated_at}}</p>
        {{#if poster}}
        <button type='submit' class='btn btn-sm btn-warning' data-id='{{comment.id}}'>Delete Comment</button>
        <a class='btn btn-sm btn-warning' href="/updateComment/{{comment.id}}" id='{{comment.id}}'>Update Comment</a>
        {{/if}}
    </div>
    </div>
    {{/each}}