<div class='card'>
    <h1 class='card-header'>{{post.title}}</h1>
    <p class='card-text m-2'>{{post.content}}</p>
    <p class='card-text m-2 border'>Posted by {{post.user.username}} on {{format_date post.updatedAt}}</p>
</div>
{{#if post.comments.length}}
<div class='comment-list'>
    {{> comments }}
    {{!-- {{#each post.comments as |comment|}}
    <div class="row mb-4">
    <div class="col-md-5 ml-3 p-2 border">
        <p>{{comment.content}}</a>
        <p style='font-size: 75%'>Posted by: {{comment.user.username}} on {{format_date comment.updated_at}}</p>
        {{log comment}}
        {{#if poster}}
        <button type='submit' class='btn btn-sm btn-warning' data-id='{{comment.id}}'>Delete Comment</button>
        <a class='btn btn-sm btn-warning' href="/updateComment/{{comment.id}}">Update Comment</a>
        {{/if}}
    </div>
    </div>
    {{/each}} --}}
    {{!-- {{#each post.comments as |comment|}}
    <div class="row mb-4">
    <div class="col-md-5">
        <p>{{comment.content}}</a>
        <p>Posted by: {{comment.user_id}} on {{comment.updated_at}}</p>
        {{#if logged_in}}
        <button type='submit' class='btn btn-sm btn-warning' data-id='{{comment.id}}'>Delete Comment</button>
        <a class='btn btn-sm btn-warning' href="/updateComment/{{comment.id}}">Update Comment</a>
        {{/if}}
    </div>
    </div>
    {{/each}} --}}
</div>
{{/if}}
{{#if logged_in}}
<div>
    <h3>Add Comment:</h3>
    <form class='form new-comment-form'>
        <div class='form-group'>
            <input class='form-input' type='text' id='comment-content' name='comment-content' />
        </div>
        <div class='form-group'>
            <button type='submit' class='btn btn-primary' id='submit-btn' data-id='{{post.id}}'>Add Comment</button>
        </div>
    </form>
</div>

<script src='/js/post.js'></script>
{{/if}}