<div class='card'>
    <h1 class='card-header'>{{post.title}}</h1>
    <p class='card-text m-2'>{{post.content}}</p>
    <p class='card-text m-2 border'>Posted by {{post.user.username}} on {{format_date post.updatedAt}}</p>
</div>
{{#if post.comments.length}}
<div class='comment-list'>
    {{> comments }}
</div>
{{/if}}
{{#if logged_in}}
<div>
    <h3>Add Comment:</h3>
    <form class='form new-comment-form'>
        <div class='form-group'>
            <input class='form-input' type='text' id='comment-content' name='comment-content' />
        </div>
        <div class='form-group'>
            <button type='submit' class='btn btn-primary' id='submit-btn' data-id='{{post.id}}'>Add Comment</button>
        </div>
    </form>
</div>

<script src='/js/post.js'></script>
{{/if}}